.contact
	h2 Get In Touch
	.form
		form(action='https://formspree.io/andrewglassett@gmail.com', method='POST')
			label 
				span Your Name
				input(type='text', name='name')
			label 
				span Your Email Address
				input(type='email', name='_replyto')
			label 
				span What Can I Do For You?
				input(type='textarea', name='_textarea')
			.button
				input(type='submit', class='button', value='Send')
	//- .contacts
	//- 	ul
	//- 		li +1 917 442 7363
	//- 		li andrewglassett@gmail.com
	//- 		li LinkedIn
