.posts#work
  a.reg(href='/work/mobile_analytics')
    .text
      h3 The Orchard Mobile Analytics
      p Best in class mobile app for customers on the go
    .img
      img(src='../img/case_studies/mobile-analytics2.jpg')

  a.reg(href='/work/vicenews')
    .text
      h3 Vice News Android
      p News comes alive in your hand
    .img
      img(src='../img/case_studies/vicenews2.jpg')

  //- a.sm(href='/work/style_guide')
  //-   .img
  //-     img(src='../img/case_studies/styleguide.jpg')
  //-   .text
  //-     h4 Styleguide from Scratch
      //- p The journey of a design language redesign

      //- p A contest that inspires and rewards

  //- a.sm(href='/posts/intermedia')
  //-   .img
  //-     img(src='../img/case_studies/intermedia.jpg')
  //-   .text
  //-     h4 Corporate Redesign
  //-     p A flexible design system
 
  //- a.reg(href='/posts/wakaflocka')
  //-   .img
  //-     img(src='../img/case_studies/wakaflocka.jpg')
  //-   .text
  //-     h4 Waka Flocka Rebrands
      //- p A great entertainer gets equally good design
  //- a.reg(href='/posts/intel')
  //-   .img
  //-     img(src='../img/case_studies/intel.jpg')
  //-   .text
  //-     h4 Intel & Wearables
