#home
  .problems 
    a.problem(href='/work/data_design') 
      .img
        img(src='../img/icons/data.png' alt='data') 
      .text
        h3 Vimeo asked me to meet some metrics on mobile.
        p Using <span>data & research</span> to uncover truth.
        
    a.problem(href='/work/design_system') 
      .img 
         img(src='../img/icons/system.png' alt='design system')
      .text
        h3 Sony needed a design system for their distribution platform.
        p <span>React based architecture</span> for the win.

    a.problem(href='/work/mobile_analytics') 
      .img
        img(src='../img/icons/analytics.png' alt='analytics') 
      .text
        h3 The Orchard needed a mobile analytics application.
        p How I made an experience <span>delightful and useful</span>.
        
    a.problem(href='/work/empathy_design') 
      .img
        img(src='../img/icons/empathy.png', alt='empathy')
      .text
        h3 The Orchard needed to update an important workflow.
        p How I used <span>empathy</span> to defeat design bias.
        <button onclick="myFunction()">Click Me</button>

  button(onclick='myFunction()') Click Me
  #myDIV
    | This is my DIV element.

    
    
