#home
  .problems 
    a.problem(href='/work/data_design') 
      .img
        img(src='../img/icons/data.svg' alt='data') 
      .text
        h3 How can we use <span>data</span> to uncover truth?
        p How I wrangled some research at Vimeo to meet some metrics.
        
    a.problem(href='/work/design_system') 
      .img 
         img(src='../img/icons/system.svg' alt='design system')
      .text
        h3 How do we create a <span>design system</span> from scratch?
        p How I helped Sony Music create a React based design system for their distribution platform.

    a.problem(href='/work/mobile_analytics') 
      .img
        img(src='../img/icons/analytics.svg' alt='analytics') 
      .text
        h3 How do we make a <span>mobile analytics</span> experience delightful?
        p How I helped create a first of it's kind mobile analytics application for The Orchard
        
    a.problem(href='/work/empathy_design') 
      .img
        img(src='../img/icons/empathy.svg', alt='empathy')
      .text
        h3 How can we use <span>empathy</span> to create a better experience?
        p How I literally became a user to defeat design bias at The Orchard.
    
    
