.posts
  a(href='/work/mobile_analytics')
    .img
      img(src='../img/case_studies/mobile-analytics.jpg')
    .text
      h3 The Orchard Mobile Analytics
  a(href='/work/vicenews')
    .img
      img(src='../img/case_studies/vicenews.jpg')
    .text
      h3 Vice News Android
  a(href='/work/style_guide')
    .img
      img(src='../img/case_studies/styleguide.jpg')
    .text
      h3 Styleguide from Scratch
  a(href='/posts/intel')
    .img
      img(src='../img/case_studies/intel.jpg')
    .text
      h3 Intel & Wearables

  a(href='/posts/intermedia')
    .img
      img(src='../img/case_studies/intermedia.jpg')
    .text
      h3 Corporate Redesign
 
  a(href='/posts/wakaflocka')
    .img
      img(src='../img/case_studies/wakaflocka.jpg')
    .text
      h3 Waka Flocka Rebrands
