.posts#work
  a.reg(href='/work/product_builder')
    .text
      h3 Redesigning an Important Workflow
      hr
      p The journey into redesigning a distribution platform
    .img
      img(src='../img/case_studies/dpb.jpg')
      
  a.reg(href='/work/mobile_analytics')
    .text
      h3 The Orchard Mobile Analytics
      hr
      p Best in class mobile app for customers on the go
    .img
      img(src='../img/case_studies/mobile-analytics2.jpg')

  a.reg(href='/work/vicenews')
    .text
      h3 Vice News Android
      hr
      p News comes alive in your hand
    .img
      img(src='../img/case_studies/vicenews2.jpg')

  a.reg(href='/work/style_guide')
    .text
      h3 Styleguide from Scratch
      hr
      p The journey of a design language redesign
    .img
      img(src='../img/case_studies/styleguide1.jpg')

  //- a.reg(href='/posts/wakaflocka')
  //-   .img
  //-     img(src='../img/case_studies/wakaflocka.jpg')
  //-   .text
  //-     h4 Waka Flocka Rebrands
      //- p A great entertainer gets equally good design
  a.reg(href='/posts/intel')
    .text
      h3 Intel & Wearables
      hr
      p An inspiring competition for some amazing minds.
    .img
      img(src='../img/case_studies/intel.jpg')
