extends ../views/_layout-about

block content
  #post
    .info
      a.back(href='/#posts') &larr; Back Home
  //- #header
  //-   include ../partials/_header-main
  #about
    .chunk
      .pic
        img(class='center' src="../img/about/about5.gif")
      .text
        h2 Hello &amp; Welcome
        p I have been designing digital things &amp; processes for 10 years now. I love solving problems, especially when I can use data and user research to create a methodology.
        
        ul
          li
            a(href='https://www.linkedin.com/in/andrewglassett' target="_blank") LinkedIn
          li 
            a(href='../resume.pdf' target="_blank") Download Resume
        
    .chunk-ex
      h2.fancy Recent Experience
      .text
        h4 Senior Product Designer - Vimeo | <i>2017 - Current</i>
        p The data designer. I use data from various sources internally and externally to make recommendations for A/B tests. I am also becoming more involved in product decisions, all the while creating prototypes in various levels of fidelity to keep products moving forward. My favorite workflow is to start with a napkin drawing, and then move right into coworking with an engineer.
      .text
        h4 Senior Product Designer - The Orchard / Sony Music | <i>2015 - 2017</i>
        p Lead designer. Created high fidelity prototypes and specs using Sketch, code and various prototyping programs. Planned and performed design workshops and sprints. Planned and conducted interviews and usability studies with users &amp; stakeholders. Influenced product strategy and led design for a variety of complex distribution, analytics, and accounting apps. Created and maintained styleguide.
      .text
        h4 UX Designer - Vice / Carrot Creative | <i>2013 - 2015</i>
        p Designed user interfaces, displayed information architecture for large scale websites and apps. Created advanced prototypes for desktop & mobile. Conducted heuristic evaluations, usability tests and stakeholder interviews. Created customer experience maps and annotated wireframes.
      .text
        h4 UX/UI Designer - Warner Music / Atlantic Records | <i>2011 - 2013</i>
        p Developed brands and designed web and mobile experiences for popular and emerging artists. Worked on a team that created a responsive web framework for Drupal. As the resident technology “guy” I was always pushing the boundaries of not only design, but in the tools we used to create. 
    .chunk-ex
      .text
        h2.fancy Stuff I'm Into
        p I'm well informed about modern tools for expressing design & analysis. I use Sketch, Invision, Google Analytics, Hotjar, Pen & Paper, Sticky Notes, HTML, CSS & JS everyday. I'm currently adding more advanced programs & frameworks such as Segment, Framer, Principle, React.js to my repetoire.
        p Music plays the biggest role in my life, I'm either <a href='https://soundcloud.com/andrewglassett' target='_blank'>creating it,</a> <a href='http://tushrecords.com/distro' target='_blank'>distributing it,</a> <a href='http://theblackcurrant.net/profiles.php' target='_blank'>producing it,</a> or attending shows whenever possible.
        
