extends ../views/_artifacts

block content
  //- #post
  //-   .info
  //-     a.back(href='/#work') &larr; Back Home
  #sidenav
    .sidenav
      ul
        li 
          a(href="#2017") 2017
        li 
          a(href="#2016") 2016
        li 
          a(href="#2015") 2015
        li 
          a(href="#2014") 2014
        li 
          a(href="#2013") 2013
        li 
          a(href="#2012") 2012
        li 
          a(href="#2011") 2011
        li 
          a(href="#2010") 2010
        li 
          a(href="#2009") 2009
        
  #artifacts
    h1 Artifacts

    h2.year 
      div#2017 2017
    h4 A color scheme for The Orchard's Workstation:
    .artifact
      img(class='center' src="../img/artifacts/2017-styleguide-colors.jpg")
    h4 Homepage redesign:
    .artifact
      img(class='center' src="../img/artifacts/2017-home-redesign.png")
          
    h2.year
      div#2016 2016
    h4 A Dashboard Analytics Concept
    .artifact
      img(class='center' src="../img/artifacts/2016-dashboard.png")
    h4 An early version of Digital Product Builder:
    .artifact
      img(class='center' src="../img/artifacts/2016-dpb1.jpg")
    h4 A quick animation for uploading artwork:
    .artifact
      img(class='center' src="../img/artifacts/2016-add-artwork.gif")
    h4 Userflow:
    .artifact
      img(class='center' src="../img/artifacts/2016-userflow.jpg")
      
    h2.year
      div#2015 2015
    h4 Soundcloud Concept:
    .artifact
      img(class='center' src="../img/artifacts/2015-soundcloud-redesign.jpg")
    h4 Redesign of Brooklyn Vegan
    .artifact
      img(class='center' src="../img/artifacts/2015-brooklyn-vegan.png")
    h4 Snapshot of some heuristics:
    .artifact
      img(class='center' src="../img/artifacts/2015-heuristics1.png")
      img(class='center' src="../img/artifacts/2015-heuristics2.png")

      
    h2.year
      div#2014 2014
      h4 Website for Digital Agency:
      .artifact
        img(class='center' src="../img/artifacts/2014-atl-rec.jpg")
        
    h2.year
      div#2013 2013
    h4 Userflow of Zocdoc:
    .artifact
      img(class='center' src="../img/artifacts/2013-zocdoc-userflow.png")
    h4 Branding Ideas for Paramore:
    .artifact
      img(class='center' src="../img/artifacts/2013-paramore_moods.jpg")
      
    h2.year
      div#2012 2012
      h4 Branding and Website for Twenty One Pilots:
      .artifact
        img(class='center' src="../img/artifacts/2012-twenty-one-pilots.png")
      h4 Branding and Website for Crystal Fighters:
      .artifact
        img(class='center' src="../img/artifacts/2012-crystal-fighters.jpg")
    
    h2.year
      div#2011 2011
    h4 Positive Psychology Product for Kids:
    .artifact
      img(class='center' src="../img/artifacts/2011-gostrengths-design.jpg")
      img(class='center' src="../img/artifacts/2011-gostrengths-product.jpg")
    h4 US Television Content Marketing Blog:
    .artifact
      img(class='center' src="../img/artifacts/2011-us-television.png")
      
    h2.year
      div#2010 2010
    h4 Marketing Site for Windstream:
    .artifact
      img(class='center' src="../img/artifacts/2010-windstream.png")
      
    h2.year
      div#2009 2009
    h4 From a Repo Website:
    .artifact
      img(class='center' src="../img/artifacts/2009-myreporepo.png")
