extends _layout-main

block content
  #home
    #nav
      .nav
        .logo
          a(href='/')
            img(src='../img/about/apaul2.svg' title='Andrew Glassett Lead Product Designer') 
        ul
          li
            a(href='#about') About 
          li
            a(href='#work') Work
          li
            a(href='#contact') Contact
    #body
      #about
        p Senior Product Designer who dabbles in Strategy & Development. Currently at <a href='http://theorchard.com' target='_blank'>The Orchard</a> / <a href='http://sonymusic.com' target='_blank'>Sony Music</a>, previously <a href='http://carrot.is' target='_blank'>Carrot Creative</a>, <a href='http://vice.com' target='_blank'>VICE</a> & <a href='http://atlanticrecords.com' target='_blank'> Atlantic Records</a>. 
        p Read more <a href='/about'>about me</a> or check out some work below.
      #work
        #posts
          include ../partials/_posts
      #contact
        p contact me here
