extends _layout-main2

block content
  #home2
    #top
      #intro
        .blurb
          h1 Some cool thang
          h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit
    #works
      a.work(href='/styleguide') Styleguide
      a.work(href='/styleguide') Mobile Analytics
      a.work(href='/styleguide') styleguide
      a.work(href='/styleguide') styleguide
      a.work(href='/styleguide') Waka Flocka
