extends _layout-main3

block content
  #home
    #top
      #intro
        .blurb2
          h3.txtwav.slow.big Senior Product Designer with chops in Strategy & Development. 
          h3.big Currently at <a href='http://theorchard.com' target='_blank'>The Orchard</a> / <a href='http://sonymusic.com' target='_blank'>Sony Music</a>, previously <a href='http://carrot.is' target='_blank'>Carrot Creative</a>, <a href='http://vice.com' target='_blank'>VICE</a> & <a href='http://atlanticrecords.com' target='_blank'> Atlantic Records</a>. 
          p 
            a(href='/about') Check me out &rarr;
