extends _layout-main2

block content
  #home
    :markdown
      ```css
      h1 {
        font-size: 2em;
      }
      ```
      ```html
      <ul>
        <li>Stuff</li>
        <li>Rad</li>
      </ul>
      ```
