extends _layout-main

block content
  #home
    #nav
      .nav
        .logo
          a(href='/')
            img(src='../img/about/apaul2.svg' title='Andrew Glassett Lead Product Designer') 
        ul
          li
            a(href='#about') About 
          li
            a(href='#work') Work
          li
            a(href='#contact') Contact
    #body
      header
        h1 Let's make your product dreams come to life!
      #services
        p I have led product focused design projects at <a href='http://theorchard.com' target='_blank'>The Orchard</a> / <a href='http://sonymusic.com' target='_blank'>Sony Music</a>, <a href='http://carrot.is' target='_blank'>Carrot Creative</a>, <a href='http://vice.com' target='_blank'>VICE</a> & <a href='http://atlanticrecords.com' target='_blank'> Atlantic Records</a>. I specialize in kickstarting the design process, and can help your company at any phase of the process:
        .value
          .number 
            h2 1 
          .prop 
            h2 
              | Lead design sprints that help define and validate 
              a(href='http://example.com') validate 
              | product ideas. 
        .value
          .number 
            h2 2
          .prop 
            h2 
              | Create 
              a(href='http://example.com') wireframes, prototypes and high fidelity designs 
              | that communicate the design process
        .value
          .number 
            h2 3 
          .prop 
            h2 
              | Design 
              a(href='http://example.com') living styleguides 
              | and design systems that are future friendly and are easy to maintain.
      #work
        #posts
          h2 See some recent work:
          include ../partials/_posts
      #testimonials

      #contact
