extends _layout-main

block content
  #home
    .header
      h1.txtwav.slow.big I Help Companies 
    .companies
      a.company(href='/work/data_design')
        .img
          img(src='../img/brands/vimeo.svg')
      a.company(href='/work/vicenews')
        .img
          img(src='../img/brands/vice.svg')
      a.company(href='/posts/intel')
        .img
          img(src='../img/brands/carrot.svg')
      a.company(href='/work/design_system')
        .img
          img(src='../img/brands/sony.svg')
      a.company(href='/work/mobile_analytics')
        .img
          img(src='../img/brands/orchard.svg')   
                 
    .header#work
      h2.txtwav.slow.big Solve Difficult Design Problems
      h3.mobile I Help Companies Solve Difficult Design Problems
      
    .problems 
      a.problem(href='/work/data_design') 
        .img
          img(src='../img/icons/data.png' alt='data') 
        .text
          h3 Vimeo asked me to meet some metrics on mobile.
          p Using <span>data & research</span> to uncover truth.
          
      a.problem(href='/work/design_system') 
        .img 
           img(src='../img/icons/system.png' alt='design system')
        .text
          h3 Sony needed a design system for their distribution platform.
          p <span>React based architecture</span> for the win.

      a.problem(href='/work/mobile_analytics') 
        .img
          img(src='../img/icons/analytics.png' alt='analytics') 
        .text
          h3 The Orchard needed a mobile analytics application.
          p How I made an experience <span>delightful and useful</span>.
          
      a.problem(href='/work/empathy_design') 
        .img
          img(src='../img/icons/empathy.png', alt='empathy')
        .text
          h3 The Orchard needed to update an important workflow.
          p How I used <span>empathy</span> to defeat design bias.
          
      button(onclick='myFunction()') Click Me
      #myDIV
        | This is my DIV element.

  .about 
    .img
      img(src='../img/about/about.jpg')
        
    .description
      p Hello, nice to meet you, my name is Andrew Paul Glassett. I have been designing digital products &amp; processes for 10 years now. I love solving problems, especially when I collaborate with teams.
      p I champion usability and focus on delivering value to my users as efficiently as possible. 
      ul
        li
          a(href='../about') About
        li
          a(href='https://www.linkedin.com/in/andrewglassett' target="_blank") LinkedIn
        li 
          a(href='../resume.pdf' target="_blank") Resume

  
