#sidenav
  // col(1/8)
  .sidenav
    position fixed;
  ul
    padding-top: 7em
    li
      line-height: 3
#artifacts
  // col(7/8)
  padding: 4em 4em 0em 10em
  background: white
  h4
    color: darkbrand
  .artifact
    // center()
    border: 2px solid graybrand
    margin: 0 0 8em 0
    img
      padding: 2em
      border: none

  h2.year
    font-style: italic;
    letter-spacing: .5em;
