#artifacts
  center(1500px)
  padding: 4em 2em
  background: white
  h4
    color: darkbrand
  .artifact
    center()
    border: 2px solid graybrand
    margin: 0 0 8em 0
    img
      padding: 2em
      border: none

  h2.year
    font-style: italic;
    letter-spacing: .5em;
