#artifacts
  col()
  padding: 2em
  background: white
  h4
    color: darkbrand
  .artifact
    center()
    border: 2px solid graybrand
    margin: 0 0 8em 0
    img
      padding: 2em
      border: none
