#contact
  background: darkbrand
  col()
  .contact
    center(700px)
    margin-top: 2em
    margin-bottom: 2em
    padding: 2em
    color: white
  .form
    label
      color: lightbrand
      text-transform uppercase
      font-weight 900
    form
      margin auto
      position relative

    input
      width 100%
      display block
      height 50px
      margin-bottom: 1em
      padding-left: .5em
      background lightbrand
      color white
      border none

    .button
      display block
      margin 2em 0
      background hoverbrand
      text-transform uppercase
      font-weight 900
      &:hover
        background lightbrand
        color white
