#footer
  background: black
  col()
  .footer
    center(1000px)
    color: white
    ul
      padding: 2em
      margin: 2em
      li
        display: inline-block
        margin-right: 1em
        +below(800px)
          background: graybrand
          display: block
          text-align: center
          padding: 1em 0
          margin: 1em 0
          width: 100%
          &:first-child
            background: white
        a
          color: white
          +below(800px)

            padding: 1em
            width: 100%
