#footer
  col()
  padding: 2em 4em
  .footer
    border-top: 2px solid graybrand
    padding-top: 2em
    margin-top: 1em
    +below(800px)
      padding: 0
      border-top: none

    ul
      col()
      padding: 0
      margin: 0
      li
        display: inline-block
        margin-right: 1em
        +below(800px)
          background: graybrand
          display: block
          text-align: center
          padding: 1em 0
          margin: 1em 0
          width: 100%
          &:first-child
            background: white
        a
          color: darkbrand
          border-bottom: none
          +below(800px)

            padding: 1em
            width: 100%
