#footie
  col()
  position: absolute
  bottom: 0
  display: block
  border-top: 1px dotted darkbrand
    +below(700px)
      padding: 2em 1em
  .footie
    a, a:visited
      padding: .2em .3em
      color: darkbrand
      text-decoration: none
      outline: 1px dotted darkbrand
      &:hover
        transform: scale(1.04545)
        outline: 10px solid hoverbrand
        border: none
        box-shadow: 0px 0px 100px -9px rgba(250,147,250,1);
    ul
      border:1px dotted darkbrand
      margin: 0
      padding: 1em
        col()
      li
        margin-right: 0
        display:inline-block

    .contact
      p
        line-height: 2
      col(1/2)
      +below(1010px)
        col()
