#header
  // border-bottom: 2px solid graybrand
  nav
    a
      center(100%)
      // position: fixed
      text-align: center
      padding: 1em
      &:hover
        border: none
        background: lightgray
      img
        border: none
        text-align: center
    h1
      font-size: 1.2em
      padding-top: 2em

// #header
//   col()
//   // center(1440px)
//   background: white
//   +below(864px)
//     position: relative
//   nav
//     a.back
//       background: whitesmoke
//     a, a:visited
//       padding: 2em 6em
//       display: block
//       float: left
//       text-decoration: none
//       img
//         width: 50px
//         padding: 0
//       &:hover
//         background: green
//         color: white
//       +below(864px)
//         float: none
//         text-align: center
//         width: 100%
//         padding: 1em
//     p
//       font-size: .75em
//       float: left
//       padding 38px 10px
//       max-width: 220px
//       margin: 0
//     ul
//       inline-list()
//       float: right
//       +below(864px)
//         text-align: center
//         float: none
//       li
//         margin: 0
//         +below(864px)
//           width: 100%
