#header
  col()
  background: white
  padding: 2em 2em 0
  nav
    // padding: 2em 0
    +below(mobile)
      padding: 2em 0 0 0
    a.back
      background: whitesmoke
    a.logo
      border-bottom: none
      &:hover
        border-bottom: none

    a, a:visited
      display: block
      float: left
      text-decoration: none
      border-bottom: none
      &:hover
        border-bottom: 3px solid hoverbrand
      img
        width: 50px
        padding: 0
        border: none

      +below(800px)
        float: none
        text-align: center
        width: 100%
        padding: 1em
    p
      font-size: .75em
      float: left
      padding 38px 10px
      max-width: 220px
      margin: 0
    ul
      inline-list()
      float: right
      +below(800px)
        display: none
        text-align: center
        float: none
      li
        margin-left: 2em
        +below(800px)
          width: 100%
