#home
  col()
  background: white
  padding: 2em
  background: url(../img/about/avatar.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh
  +below(mobile)
    padding: 0 2em
  #top
    center(1300px)
    +below(mobile)
      margin: 1em
    #intro
      col()
      padding: 4em 0
      +below(mobile)
        padding: 0

      .blurb
        // col(4/5)
        +below(mobile)
          col()
          padding: 1em 0
          text-align: center
        h3.big
          font-size: 2em
          line-height: 1.7
          +below(mobile)
            font-size: 1.5em

      .blurb2
        center(800px)
        float: right
        padding: 1em 0
