#posts
  col()
  padding: 2em
  .posts
    a.reg
      col()
      padding: 2em
      margin-bottom: 2em
      border-bottom: none
      &:hover
        background-color: graybrand
      +below(mobile)
        background-color: graybrand

      .text
        col(1/5)
        p
          padding-top: 2em
          line-height: 1.5
          +below(mobile)
            padding-top: 0
            line-height 1
            font-size 1.3em
            margin-bottom 1em
        +below(mobile)
          col()
          h3
            font-size: 1.5em

      hr
        width: 4em
        float left
        color: darkbrand;
        +below(mobile)
          display none

      .img
        col(4/5)
        img
          border: none
        +below(mobile)
          col()

  h4, p
    margin: 0
