#posts
  col()
  .posts
    center(1300px)
    a.reg
      col()
      width: 48%
      text-decoration: none
      margin-right: 2%
      margin-bottom: 2%
      border-bottom: none
      color: darkbrand
      +below(mobile)
        width: 100%
        margin-bottom: 8%
      &:hover
        opacity: .6
      .img
        col()
        img
          border: none
      .text
        col()
        +below(700px)
          h3
            font-size: 1.5em
    a.sm
      col()
      width: 23%
      text-decoration: none
      margin-right: 2%
      margin-bottom: 2%
      border-bottom: none
      color: darkbrand
      +below(mobile)
        width: 100%
        margin-bottom: 8%
      &:hover
        opacity: .6
      .img
        col()
        img
          border: none
      .text
        col()
    a.med
      col()
      width: 33%
      text-decoration: none
      margin-right: 2%
      margin-bottom: 2%
      border-bottom: none
      color: darkbrand
      +below(mobile)
        width: 100%
        margin-bottom: 8%
      &:hover
        opacity: .6
      .img
        col()
        img
          border: none
      .text
        col()
  h4, p
    margin: 0
