// Axis Settings (http://roots.cx/axis)

// font stack (add your own!)
// helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
// helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
// georgia = Georgia, Cambria, "Times New Roman", Times, serif
// lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
// monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
// verdana = Verdana, Geneva, sans-serif
typekit = unquote("'nimbus-sans', sans-serif")
// google = unquote("'Rubik', serif")


font-stack = typekit
font-size = 16
font-color = #343434
darkbrand = #343434
lightbrand = #343434
hoverbrand = #343434
graybrand = #F6F6F6
graybrand2 = #F2F0F2
andrew2 = #343434
mobile = 800px

// default color
default-color = blue

// text highlight color
highlight-color = blue

// ligatures
ligatures = false

// vertical rhythm
base-line-height = 24px
default-rhythm-border-style = solid
relative-font-sizing = true
round-to-nearest-half-line = false
min-line-padding = 2px

// custom image base path for roots mixins
img-path = ''

// support for old IE
support-for-ie = false

// progressive IE (http://css3pie.com/)
pie-enabled = false
pie-path = '/pie.htc'
