//- ---
//- title: 'Rick Ross - RozayRaw.com'
//- _content: false
//- thumbnail: 'rickross-thumb.jpg'
//- ---
//- 
//- extends ../views/_layout-main
//- 
//- block content
//-   .info
//-     a.back(href='/#posts') &laquo; Back Home
//-     .workers
//-       ul
//-         li Design, Branding:
//-           a(href='//andrewglassett.com' target='_blank') Me
//-         li Link:
//-           a(href='//rozayraw.com' target='_blank') rozayraw.com
//-   .story
//-     :markdown
//-       # Rick Ross Brands a Lifestyle
//-       ![Get positive](../img/case_studies/gostrengths/gostrengths-logo.png)
//- 
//-       He response was maybe not what I was expecting, but definitely set a course for the redesign of his digital persona. His response **"It makes me want to kill myself"** 
//-        
//-       ## The Problem
//-       Designing for the music industry can be tricky because the 
//-             
//-       ##The Digital Execution
//-       ###Branding
//-       The exercise began with interviewing the brand's partners and listening to their various goals for the brand. The identity needed to be playful and also set a precedent for other possible future brands.
//-       
//-       ![Wireframes](../img/case_studies/gostrengths/gostrengths-wireframes1.jpg)
//-       ![Wireframes](../img/case_studies/gostrengths/gostrengths-wireframes2.jpg)
//-       ![Design](../img/case_studies/gostrengths/gostrengths-design.jpg) 
//-       
//-       ###Production & Development
//-       The website ended up being more than just a marketing site, it also housed the main product, an animated series in which aliens teach kids lessons about dealing with stress and sadness. They needed to be organized and displayed in a user friendly way. With the help of custom taxonomies in Wordpress, I was able to create an adaptable subnavigation that was easy to update.
//-       ![The Product](../img/case_studies/gostrengths/gostrengths-product.jpg) 
//-       
//-       ##Results
//-       The company continues to expand and grow and has gained recognition in international positive psychology circles as well as the Anxiety and Depression Association of America. They have most recently launched another project called [Go Zen](http://gozen.com) that uses many of the same design principles of GoStrengths.
