//- ---
//- title: 'Atlantic Records Goes Digital'
//- date: 6/14/2014
//- _content: false
//- thumbnail: 'atlrec-thumb.png'
//- ---
//- extends ../views/_layout-main
//- 
//- block content
//-   .info
//-     a.back(href='/#posts') &laquo; Back Home
//-     .workers
//-       ul
//-         li Design, Development, UX:
//-           a(href='//andrewglassett.com' target='_blank') Me
//-         li Link:
//-           a(href='//atlrec.com' target='_blank') atlrec.com
//- 
//-   .story
//-     :markdown
//-       # Atlantic Records opens its own digital lab with a product focus.
//-       ![Current ATLREC](../img/case_studies/atlrec/atlrec.png)
//- 
//-       As we forge into the digital unknown, more and more organizations are refining their digital strategy. Often times that means bringing together a group of individuals to experiment and figure out the right way to work together.
//- 
//-       ## A Team Hungry For All Things Digital
//-       My time spent at Atlantic was spent advocating digital progress in both workflow and in the artists' lives. It makes sense that they would want to create a starting point for this vision, and the site at [atlrec.com](http://atlrec.com) was the beginning of this vision. Members of the team that work in the lab are the digital generation, and the challenge was to communicate this importance throughout the organization.
//- 
//-       <div>
//-       ![The ATLREC Team](../img/case_studies/atlrec/atlrec-team.png)
//-       </div>
//- 
//-       ## An Exercise in Digital Branding
//- 
//-       I ventured off the beaten path creating this particular piece, as there was no current precedent for branding a digital department in the music industry at the time. I relied more on emotion than previous projects, as I tried to capture not only what the department currently felt like, but where they should be going. A department that is looking ever so slightly into the future.
//-       <div>
//-       <img src="../img/case_studies/atlrec/atlrec-code.png">
//-       </div>
//- 
//-       ###Cutting out Photoshop
//-       This was one of the biggest jumps in process, as there were no digital artifacts created except the code and the art created for the backgrounds. I made some sketches, received approvals, and immediately started coding.
//-       <div>
//-       <img src="../img/case_studies/atlrec/atlrec-scribbles.png">
//-       </div>
//- 
//-       ###Getting Approval on the Finished Product
//-       The end product turned out to be very convincing to stakeholders, as they saw that I had captured the flavor of digital while incorporated branding. There were a few rounds of revision, but overall they were excited to be able to confidently share some of the work that is coming out of the lab.
//- 
//-       ## Spreading an All Digital Approach Throughout the Company
//- 
//-       Designing in the browser isn't quite a reality for large companies, but I did find that as I advocated more digital focused design, the gap between dev and design closed slightly. I pushed for more designers to learn a little code, and be able to explain their thinking to developers via codepen. There is still a long way to go, but this kind of battle is one that is exciting to me.
//- 
//-       <div>
//-       <img src="../img/case_studies/atlrec/atlrec-pen1.png">
//-       <img src="../img/case_studies/atlrec/atlrec-pen2.png">
//-       </div>
