//- ---
//- title: 'How I Communicate Design'
//- date: 9/23/2014
//- _content: false
//- thumbnail: "communicating-thumb.png"
//- ---
//- 
//- extends ../views/_layout-main
//- 
//- block content
//-   .info
//-     a.back(href='/#posts') &laquo; Back Home
//- 
//-   .story
//-     :markdown
//-       #How to communicate design? A quick and dirty list of some design thinking.
//- 
//-       ## The Flow
//-       <div>
//-       ![The Flow](../img/case_studies/communicating/communicating-flow1.jpg)
//-       </div>
//-       
//-       Flows come in all shapes and sizes, and I tend to make my flows appear as fluid as possible. I am also learning to incorporate more visual cues to help lead the user down a engaging path.
//-       <div>
//-       <img src="../img/case_studies/communicating/communicating-flow2.jpg">
//-       </div>
//- 
//-       ## Usability Audit
//-       Auditing is at the cross section of QA, visual design and company goals. Any UX designer not comfortable with ripping every design they see apart needs to roll up their sleeves and get critical. I enjoy pointing out where sites go wrong, but even more, I enjoy finding the good things so that I can incorporate them into my designs. My favorite audit are when I can observe other people use a device or service and be able to pull quotes from their experience.
//-       
//-       <div>
//-       <img src="../img/case_studies/communicating/communicating-audit.jpg">
//-       </div>
//- 
//-       ## User Journey Mapping
//-       Mapping the a user's experience can be one of the most important tools for companies trying to determine the week points in their product. It helps them set benchmarks and determine where the experience is lacking.
//-       
//-       <div>
//-       <img src="../img/case_studies/communicating/communicating-journey2.jpg">
//-       </div>
//-       
//-       I have also found some success within organizations to display a simple graphic that shows how they currently interact with their customers, and what the ideal is.
//-       
//-       <div>
//-       <img src="../img/case_studies/communicating/communicating-journey1.jpg">
//-       </div>
//- 
//-       ## Site Architecture
//-       This is where a lot of the design actually happens as it is taking into account not only how content is organized, but defines where the user experiences what and where.
//-       <div>
//-       <img src="../img/case_studies/communicating/communicating-architecture.jpg">
//-       </div>
//- 
//-       ## Prototyping
//-       My favorite kind of prototyping involves live code
//-       
//-       <div>
//-       <img src="../img/case_studies/communicating/communicating-proto1.jpg">
//-       </div>
//-       
//-       <a href="//andrewglassett.com/rum-prototype/" target="_blank">Live Link</a>
//- 
//-       But good old static mockups can be a great way to get a conversation started or develop ideas. Sometimes making gifs may be the solution.
//-       
//-       <div>
//-       <img src="../img/case_studies/communicating/communicating-amex.gif">
//-       </div>
//- 
//-       Whatever the case may be, the solution to many design problems arises from consciously listening and finding the root of the problem. It could be based in company politics, in the limits of technology, in the limits of our understanding of the technology, in companies or brands losing focus. There is always a solution, and it is up to me to figure it out.
