//- ---
//- title: 'GoStrengths - The Power of Positivity'
//- _content: false
//- thumbnail: 'gostrengths-thumb.jpg'
//- ---
//- 
//- extends ../views/_layout-main
//- 
//- block content
//-   .info
//-     a.back(href='/#posts') &laquo; Back Home
//-     .workers
//-       ul
//-         li Design, UX, Development:
//-           a(href='//andrewglassett.com' target='_blank') Me
//-         li Link:
//-           a(href='//gostrengths.com' target='_blank') GoStrengths.com
//-   .story
//-     :markdown
//-       # GoStrengths! Values Positivity and Needs a Digital Presence
//-       <div>
//-       ![Get positive](../img/case_studies/gostrengths/gostrengths-logo.png)
//-       </div>
//-       
//- 
//-       ## The Problem
//-       It is somewhat rare for designers to be involved in a brand from the very start, and I had this opportunity with GoStrengths!. They needed everything including branding, design, UX and development, including the housing of their main video product.
//-       
//-       ##The Digital Execution
//-       ###Branding
//-       The exercise began with interviewing the brand's partners and listening to their various goals for the brand. The identity needed to be playful and also set a precedent for other possible future brands.
//-       ###UX & Design
//-       The logical next step was to put together some wireframes and start designing. The design needed to appeal to parents and kids, and the choice of colors/fonts/textures reflect that. Although not my most flashy work, the design that came out of these constraints fulfilled a business need and made the client excited for their new brand. Most of the design choices were the obvious ones, not necessarily the most clever. The site is now over three years old, and has kept the original heart of spirit of those initial designs.
//-       <div>
//-       ![Wireframes](../img/case_studies/gostrengths/gostrengths-wireframes1.jpg)
//-       ![Wireframes](../img/case_studies/gostrengths/gostrengths-wireframes2.jpg)
//-       ![Design](../img/case_studies/gostrengths/gostrengths-design.jpg) 
//-       </div>
//-       
//-       ###Production & Development
//-       The website ended up being more than just a marketing site, it also housed the main product, an animated series in which aliens teach kids lessons about dealing with stress and sadness. They needed to be organized and displayed in a user friendly way. With the help of custom taxonomies in Wordpress, I was able to create an adaptable subnavigation that was easy to update.
//-       <div>
//-       ![The Product](../img/case_studies/gostrengths/gostrengths-product.jpg) 
//-       </div>
//-       
//-       ##Results
//-       The company continues to expand and grow and has gained recognition in international positive psychology circles as well as the Anxiety and Depression Association of America. They have most recently launched another project called [Go Zen](http://gozen.com) that uses many of the same design principles of GoStrengths.
