//- ---
//- title: 'Honest Tea - The National Honesty Index'
//- _content: false
//- thumbnail: 'honesttea-thumb.png'
//- ---
//- 
//- extends ../views/_layout-main
//- 
//- block content
//-   .info
//-     a.back(href='/#posts') &laquo; Back Home
//-     .workers
//-       ul
//-         li Design:
//-           a(href='//carrot.is/noah' target='_blank') Noah
//-         li UX:
//-           a(href='//andrewglassett.com' target='_blank') Me
//-           a(href='//carrot.is/emily' target='_blank') & Emily
//-         li Development:
//-           a(href='//carrot.is' target='_blank') Carrot
//-         li Link:
//-           a(href='//thenationalhonestyindex.com' target='_blank') The National Honesty Index
//-   .hero
//-     img(src='../img/case_studies/honesttea/honesttea-header.jpg')
//-     h1
//-       span Honest Tea Interprets a Real Life Activation in the Digital Realm
//-   .story
//-     .caption An application without a styleguide is like hiking without any navigation. You may eventually "arrive" somewhere, but you may ask yourself: How did I get here? How do you get back? Where do I go next?
//-     h2 The Problem
//-     p Honest Tea wanted to translate their real life honesty experiment to an experience that reached nationwide.
//-     
//-     h2 A Little History
//-     p The company originally had a series of unmanned kiosks in which people could pay for a free bottle of Honest Tea or just walk about with the goods. The kiosks provided the company with some interesting information, but taking the process to the digital realm would allow for some deeper insights into the demographics and likes of those who are honest (and those not as honest). 
//- 
//-     h2 A digital version, in steps
//-     p The first step of the process was to set up an experiment where fans interacted with a Facebook application to get a coupon for Honest Tea. They were presented with a choice if they would share the promotion or not and we were able to postulate an honesty quotient based on this interaction. Lucky for them, they received the coupon regardless of their decision.
//-     .img-lg 
//-       img(src="../img/case_studies/honesttea/honesttea-fb.jpg")
//-   
//-     
//-     p After the experiment was over, we captured all of the data and crunched the numbers to find that most people are in fact honest (at least in this experiment).
//-     .img-md
//-       img(src="../img/case_studies/honesttea/honesttea-data.jpg")
//-   
//-     
//-     p We also created a simple game to randomize values and give users a fun way to explore some of our findings.
//-     
//-     .img-md
//-       img(src="../img/case_studies/honesttea/honesttea-game.gif")
//-     
//-     h2 Results
//-     p Our report made it into <a href="http://www.usatoday.com/story/money/business/2014/08/18/honest-tea-national-honesty-index-marketing-public-relations/14235077/">USA Today</a> and more importantly helped Honest Tea express their brand values to a wider variety of people. 
