---
title: 'Intel and Wearables'
date: 7/9/2014
_content: false
thumbnail: 'intel-thumb.png'
---

extends ../views/_single_post_layout

block content
  #post
    .info
      a.back(href='/#work') &larr; Home
      .workers
        ul
          li Design:
            a(href='//frogdesign.com' target='_blank') Frog
          li UX:
            a(href='//andrewglassett.com' target='_blank') Me
          li Development:
            a(href='//carrot.is' target='_blank') Carrot
          li Link:
            a(href='//makeit.intel.com' target='_blank') makeit.intel.com
    .hero.intel
      h1
        span An Inspiring Contest Promotes Talented Creators
    .story
      .caption 
        p Some of the more fashionable wearables.
      h2 Wearables are Here to Stay
      p It is no surprise that Intel has a desire to inspire average Joes to put their creative caps on and come up with interesting ideas. I was part of a team given the task of creating a website for their worldwide talent search "Make It Wearables". The winners of the contest would share over a million dollars in prize money.
      .img-lg
        img(src="../img/case_studies/intel/intel-header.jpg")


      h2 The Flow
      p Frog Design was tasked with most of the flourishes on the front end, and I was brought in to help with the architecture in the backend. The plan was to invite users from all over the globe to contribute their ideas for wearables projects in two tiers of involvement. After which, judges were introduced to pick the winners of the various cycles.
      .img-md
        img(src="../img/case_studies/intel/intel-flow1.svg")
        .caption 
          p Getting the flow right, and declaring the retargeting.
      h2 Some Considerations
      p There were four different user types that needed to be trained about how to be successful in this contest. From forming teams, to promoting Captains, to meeting deadlines, we wanted to create an experience that would help groups succeed. A very important part of this app was designing the email retargeting throughout the process to keep everything on track.
      
      .img-md
        img(src="../img/case_studies/intel/intel-flow2.png")
        .caption 
          p Setting rules for different user roles.
      h2 A Flexible Backend
      p Users needed to be able to add, edit and delete projects, and team captains also needed the ability to add, edit and delete team members. Through a series of flow documents, the UX team was able to communicate with developers to ensure that the user was having a delightful experience while using the dashboard.
        
      .img-md
        img(src="../img/case_studies/intel/intel-flow3.png")
        .caption 
          p Process by which a team could create and submit a project.
      .img-md
        img(src="../img/case_studies/intel/intel-backend.png")
        .caption 
          p A glimpse into the user dashboard where they could manage their projects.
        
    .title
      h3 Check out another case study:
        
