---
title: 'Intermedia Takes Me on a Journey'
date: 8/9/2014
_content: false
thumbnail: 'intermedia-thumb.png'
order: 4
---

extends ../views/_single_post_layout

block content
  #post
    .info
      a.back(href='/#posts') &larr; Back Home
      .workers
        ul
          li Design:
            a(href='//carrot.is/noah' target='_blank') Noah
          li UX:
            a(href='//andrewglassett.com' target='_blank') Me
          li Development:
            a(href='//carrot.is' target='_blank') Carrot
          li Link:
            a(href='//intermedia.net' target='_blank') Intermedia
    .hero.intermedia
      h1
        span Intermedia Goes Deep on a Redesign
    .story
      .caption 
        p A digital rebrand lightens up a somewhat murky space.
      h2 Every Corporation is Different
      p Every company has their own distinct culture and interactions. It isn't every day that you have the opportunity to understand an entity so intimately.  I was allowed to peak into how the organization works as a whole, and also identify where it might not be working. Rebranding a company this size has serious implications to how a company represents itself to the world, and great care was taken to make sure we made the best decisions we could.
      h2 The Problem
      p Intermedia works in the tricky space of cloud computing, and because of the nature of the industry, they needed to be able to pivot their marketing efforts quickly. Their current site was bulky, hard to update and built on an older framework. Our goal was to not only update their website, but also update their internal workflow.
        
      .img-md
        img(src="../img/case_studies/intermedia/intermedia-old.jpg")
        .caption 
          p The old Intermedia.net
        
      h2 Architecture and Usability Review
      p The first plan of attack was to assess the current architecture and do some basic usability tests. The tests uncovered a few bugs they were unaware of, and left users a little confused about the flow. The architecture needed to be assessed to allow for a more natural way for users to get to the information they needed.
        
      .img-md
        img(src="../img/case_studies/intermedia/intermedia-usability.jpg")

      h2 Stakeholder &amp; User Interviews
      p The second portion of discovery included 13 interviews from various stakeholders throughout the company. The results were somewhat expected, every department wanted to make sure their various goals were met. It was interesting to see common issues arise and be able to relay this information back into the company. A few key decisions were made because of this open line of communication. 
        
      .img-md
        img(src="../img/case_studies/intermedia/intermedia-interview.jpg")
      
      h2 Rebuilding Architecture & Wireframes
      p At this point, it was time to start wireframing and reconstructing the architecture. It was no small feat to capture all the information that needed to be shared with potential customers. I formulated a series of modular components that allowed blocks of information to be moved around to meet the ever changing content needs. 
        
      p The architecture of the site was tweaked to be more inline with the information of the site. Using a content first approach, we were able to approximate the amount of content and then create a user flow based on that content.
        
      .img-md
        img(src="../img/case_studies/intermedia/intermedia-wireframes.jpg")
        .caption 
          p A veritable cloud of wireframes.
      .img-md
        img(src="../img/case_studies/intermedia/intermedia-architecture.jpg")

      h2 Design & Build
      p The site was built with continuous communication with the client. Their input was key as we went back and forth to create the best product we could while staying inside timeline and budget. A few interactions were key to bringing to life the new and improved look and feel of the Intermedia brand. 
      .img-lg
        img(src="../img/case_studies/intermedia/intermedia.jpg")
        .caption 
          p The new Intermedia.net
      .img-md
        img(class="center" src="../img/case_studies/intermedia/intermedia-interaction.gif")

    .title
      h3 Check out another case study:
