//- ---
//- title: 'Rick Ross - RozayRaw.com'
//- _content: false
//- thumbnail: 'rickross-thumb.jpg'
//- ---
//- 
//- extends ../views/_layout-main
//- 
//- block content
//-   .info
//-     a.back(href='/#posts') &larr; Back Home
//-     .workers
//-       ul
//-         li Design, Branding:
//-           a(href='//andrewglassett.com' target='_blank') Me
//-         li Link:
//-           a(href='//rozayraw.com' target='_blank') rozayraw.com
//-           
//-   .story
//-     :markdown
//-       # Rick Ross transitions one of his rapper personas into a lifestyle brand
//-       <div>
//-       ![He's Big](../img/case_studies/rickross/rickross-header.jpg)
//-       </div>
//- 
//-       Rick Ross
//-       <div>
//-       ![Crazy Town](../img/case_studies/rickross/rickross-old.jpg)
//-       </div>
//-       
//-       >The old Rozay Raw site
//-        
//-       ## The Design
//-       Designing for the music industry can be tricky because the rigid templating that happens due to the limited development time. I took on this challenge and produced a clean style that could easily adapt and scale to changing technology.
//-       <div>
//-       ![Waka Flocka Website 1](../img/case_studies/rickross/rickross-new1.jpg)
//-       ![Waka Flocka Website 2](../img/case_studies/rickross/rickross-new2.jpg)
//-       ![Waka Flocka Website 3](../img/case_studies/rickross/rickross-new3.jpg)
//-       </div>
//-       
//-       ##Mobile
//-       The mobile experience was stripped down to getting the bare necessity news items, with the ability to read a brief headlines and dig in to get more details.
//-       
//-       <div>
//-       ![Mobile](../img/case_studies/rickross/rickross-mobile.jpg) 
//-       </div>
//-             
//-       ##Results
//-       Waka was insanely happy with the change to his web properties, and the branding has slowly started to seep into his other online personas, as well as design for his real life marketing materials.
//-       
//-       <a href="http://wakaflockabsm.com" target="_blank">Check out his current website</a>
