//- ---
//- title: 'NBC Universal - Share a Tree 2014'
//- _content: false
//- thumbnail: 'nbc-thumb.png'
//- ---
//- 
//- extends ../views/_layout-main
//- 
//- block content
//-   .info
//-     a.back(href='/#posts') &larr; Back Home
//-     .workers
//-       ul
//-         li Design:
//-           a(href='//carrot.is/noah' target='_blank') Noah
//-         li UX:
//-           a(href='//andrewglassett.com' target='_blank') Me
//-         li Development:
//-           a(href='//carrot.is/noahporteschaikin' target='_blank') NPC
//-   .hero
//-     img(src='../img/case_studies/nbc/nbc-header.png' alt='Lets plant some trees!')
//-     h1
//-       span NBC Teams Up With the Arbor Day Foundation to Make Green
//-   .story
//-     :markdown
//-       ## The Problem
//-       NBC's green initiative, Green Is Universal, needed a mechanism for spreading awareness. Dozens of celebrities hand drew trees for the project, and it was up to us to motivate users to contribute as well.
//-       <div>
//-       ![Example Celeb Trees](../img/case_studies/nbc/nbc-celebs.jpg)
//-       </div>
//-       
//-       ## A Little History
//-       The lighting of the Christmas tree at Rockefeller Plaza is an iconic event that happens every December. As a token of appreciation for taking the life of such a majestic organism, NBC looked to social engagement to spread awareness while giving back to mother nature. For every tree shared, NBC would plant a tree in the name of the sharer. The goal is to not only connect users online, but to connect them to nature as well. 
//- 
//-       ##The Digital Execution
//-       It was important early on to communicate via wireframes when thinking through the idea. We knew we wanted users to be able to decorate a tree that would then show up in a forest of trees, and adjacent to the celebrity trees. We thought about many different ways that users could create trees.
//-       <div>
//-       ![Wireframes 1](../img/case_studies/nbc/nbc-wireframes2.jpg)
//-       </div>
//-       
//-       Another large component of this particular project was to make sure it was mobile friendly. It was estimated that over 50% of users would be interacting with experience via phone or tablet, and the interaction of the tree creation portion of the experience reflected this projection.
//-       <div>
//-       ![Wireframes 2](../img/case_studies/nbc/nbc-wireframes1.jpg)
//-       ![Wireframes 2](../img/case_studies/nbc/nbc-wireframes3.jpg)
//-       </div>
//-       
//-       ##Results
//-       The resulting design was a success, with over 2,500 shares within the first two weeks of the campaign.
//-       <div>
//-       ![Interaction](../img/case_studies/nbc/nbc-share.gif) 
//-       ![Mobile Design](../img/case_studies/nbc/nbc-design.jpg)
//-       </div>
//-       
