//- ---
//- title: 'Target - Honest Co Diapers Contest'
//- _content: false
//- thumbnail: 'target-thumb.png'
//- ---
//- 
//- extends ../views/_layout-main
//- 
//- block content
//-   .info
//-     a.back(href='/#posts') &laquo; Back Home
//-     .workers
//-       ul
//-         li Design:
//-           a(href='//carrot.is/evan' target='_blank') Evan
//-         li UX:
//-           a(href='//andrewglassett.com' target='_blank') Me
//-         li Development:
//-           a(href='//carrot.is/noahporteschaikin' target='_blank') NPC
//-   .story
//-     :markdown
//-       # Target Looks to Announce Their Partnerships with Honest Co... With Diapers!
//-       <div>
//-       ![Diaper Designs](../img/case_studies/target/target_diaper-header.svg)
//-       </div>
//- 
//-       ## The Problem
//-       Target recently partnered up with Jessica Alba's Honest Co., and wanted to engage socially savvy parents and spread awareness of their new diaper designs.
//- 
//-       ##The Digital Execution
//-       The app was designed to be dead simple. The goal was to capture as many votes as possible, and give the user a coupon for playing along. It sounds like a simple premise, but it fulfilled some important business goals of brand awareness as well as providing an incentive to shop in store.
//-       <div>
//-       ![Diaper wireframes](../img/case_studies/target/target_diaper-wireframe1.jpg)
//-       ![Diaper wireframes](../img/case_studies/target/target_diaper-wireframe2.jpg)
//-       </div>
//-       
//-       It was important to visually explain to the client the how the user would be able to interact with the app, how often they could vote, and what the flow is for each instance of a user experience.
//-       <div>
//-       ![Diaper userflow](../img/case_studies/target/target_diaper-userflow.svg)
//-       </div>
//-       
//-       The app was designed to be co-branded, and was posted on both Target and Honest Co's Facebook pages. 
//-       <div>
//-       ![Diaper design](../img/case_studies/target/target_diaper-design1.jpg)
//-       </div>
//-       
//-       ##Results
//-       After several thousand votes, the data was combined from both pages to create the winning combination for girls and boys:
//-       <div>
//-       ![Diaper design](../img/case_studies/target/target_diaper-design2.jpg)
//-       </div>
//-     
