---
title: 'Waka Flocka - Rebranding a Giant'
_content: false
thumbnail: 'wakaflocka-thumb.jpg'
---

extends ../views/_layout-main

block content
  #post
    .info
      a.back(href='/#posts') &larr; Back Home
      .workers
        ul
          li Design, UX, Branding:
            a(href='//andrewglassett.com' target='_blank') Me
          li Link:
            a(href='//wakaflockabsm.com' target='_blank') wakaflockabsm.com
    .hero.waka
      h1
        span I Asked Waka What He Didn't Like About His Site
    .story
      .caption 
        p Mr. Flocka in all his glory
      h2 His Initial Response <i>"It makes me want to kill myself"</i> Was a Little Alarming.
      p As I got to know him more, I learned more about what he meant by that. He wanted his site to be more aesthetically pleasing, as well as a place where people could come and immediately see the most important thing happening in his world. He wanted people to come to his site and see the connection he had to the internet, to fashion, to what he was doing in the rap world.
      .img-md
        img(src="../img/case_studies/wakaflocka/waka-old.jpg")
        .caption 
          p The old Waka Flocka site
         
      h2 The Design
      p Designing for the music industry can be tricky because a lot of sites are forced into rigid templating. To break the template means expensive development time. I took on this challenge head on and produced a clean style that could easily adapt and scale to changing technology. I was able to request very small CSS changes that could give me the flexiblity I needed.
      
      .img-md
        img(src="../img/case_studies/wakaflocka/waka-new1.jpg")
      .img-md
        img(src="../img/case_studies/wakaflocka/waka-new3.jpg")
      
      h2 Mobile
      p The mobile experience was stripped down to getting the bare necessity news items, with the ability to read a brief headlines and dig in to get more details.
      
      .img-md
        img(src="../img/case_studies/wakaflocka/waka-mobile.jpg") 
            
      h2 Results
      p Waka was insanely happy with the change to his web properties and brand, and has currently no plans to commit any type of self harm. The branding has slowly started to seep into his other online personas, as well as design for his real life marketing materials.
      p Oh and he really did show me text messages from Amanda Bynes. I can't remember what they said exactly but I remember he was pretty proud of himself.
        
    .title
      h3 Check out another case study:
        
        
