---
title: 'Sony Music - Product Builder'
_content: false
thumbnail: 'mobile-thumb.jpg'
---

extends ../views/_single_post_layout

block content
  #post
    .info
      a.back(href='/') &larr; Back Home
      .workers
        ul
          li UX, Design, Branding:
            a(href='//andrewglassett.com' target='_blank') Me
          li Engineering:
            a(href='//theorchard.com' target='_blank') Sony Music / The Orchard
    .hero.product_builder

    .story
      .caption 
        p Can becoming the user give me a design advantage?
      h1 Empathy Based Design
      p There is no better way to understand a users motivations than to actually become the user. Sony Music / The Orchard needed to redesign their core distribution flow, and I decided the best way to redesign something would be to actually become a user of the system.
      
      h2 The Setup
      p Becoming a real user was not exactly easy. In order to get my own account, I needed to go through the process of setting up my record label as a real company, filling out the appropriate legal documentation, and finally communicating with client services to setup my initial account.
      .img-md
        img(src='../img/case_studies/empathy_design/tush.png')
        .caption
          p A few releases from my record label, Tush Records.
 
      h2 The Product Being Redesigned
      p Their application suite Workstation was originally designed in 2006, and has become outdated both visually and out of touch from the industry.
      .img-md
        img(src='../img/case_studies/empathy_design/rb1-1.png')
        .caption 
          p The origin distribution interface called Release Builder.
      p  The core products of Workstation have become difficult to maintain and are behind in style, language and interaction.
      p After using the system for a month for actual products I was releasing, I ran a series of workshops to start the redesign.
      
      h2 Workshops
      p The workshop team consisted of a designer, a product manager, a technology director, and also the VP of Product who acted as the decision maker. It made it much easier to express more user centered experiences for me because I had actually used the system in a real life context.
      .img-md
        img(src='../img/case_studies/empathy_design/user-journey.png') 
        .caption In this exercise, we did a card sorting exercise to define the critical user path for Release Builder.
      .img-md
        img(src='../img/case_studies/empathy_design/sprint1.jpg')
        .caption In another exercise, everyone is the group sketched ideas about the entire flow and we then voted on the best ideas.
      p The sprint allowed us to make decisions as a team, and be unified in our strategy. 
        
      h2 Wireframes and Stakeholder Feedback
      p The next part of the process was for me to quickly create wireframes that were sent to members of the sprint team, and also to stakeholders.
      .img-md
        img(src='../img/case_studies/empathy_design/wireframe.png')
      p We uncovered some pretty serious holes in requirements that were able to be updated before moving into an in-depth design or development cycle.
      
      h2 High Fidelity and User Testing
      p Next, I created high fidelity designs and prototyped the experience in Invision. I used Lookback.io to interview some users and validate our ideas before being developed. 
      .img-md
        img(src='../img/case_studies/empathy_design/user-research.png')
        .caption We identified some problems with the designs, mainly dealing with navigation.
      
      h2 Finish Designs, Launch to Beta Group
      p The next step was to work with the product managers to figure out a release plan for Release Builder.
      .img-md
        img(src='../img/case_studies/empathy_design/pricing.png')
        .caption The final design
      p We devised a way to make small releases that each provided value to our users.

      h2 Gathering User Feedback
      p The initial response was overwhelmingly positive, and it allowed us to launch the redesign to launch to larger groups and continue to get more and more feedback.
      

    //- .title
    //-   h3 Check out another case study:
