---
title: 'Mobile Analytics'
_content: false
thumbnail: 'mobile-thumb.jpg'
---

extends ../views/_single_post_layout

block content
  #post
    .info
      a.back(href='/#work') &larr; Back Home
      .workers
        ul
          li UX, Design, Branding:
            a(href='//andrewglassett.com' target='_blank') Me
    .hero.mobile
      h1
        span Making Analytics Mobile
    .story
      .caption 
        p It is no question that The Orchard has a lot of data, distributing and tracking millions of individual pieces of media every year. How can we make this data useful for users in a mobile context?

      p As the average age of our clientbase skews younger, and the interest in technology and data skyrockets, creating an analytics experience for mobile is a no brainer. Clients were asking for it, and the time was right for the engineering and design teams to show the organization what we could do. 
      
      h2 Research
      p Many design processes begin by defining a specific or poignant question. As this was one of the first design driven products for The Orchard, there was quite a bit of groundwork we needed to do to discover the question we were solving. We began by speaking with stakeholders to identify customers who were believed to be our target demographic. 
      p Also, as this was one of the first times the design team was connecting with clients directly, we needed to do some digging to understand our users' current usage patterns. These insights allowed us to cater our questions for the upcoming interviews. Generally we found we had two types of usage patterns:
      p 1. Those who used analytics weekly to look at specific data
      p 2. Those who looked quarterly or yearly and only looked at overall trends
      .img-lg
        img(src='../img/case_studies/mobile_analytics/usage.jpg')
        .caption 
          p Looking through the numbers helped us see patterns in current analytics usage. We saw a lot of weekly trends.
      h2 User Interviews
      p Interview scripts were carefully crafted to match the particular kind of usage. We knew going in how often they used the system, what kinds of information they were looking for, and the areas we needed to dig a little deeper.
      .img-md
        img(src='../img/case_studies/mobile_analytics/script.jpg') 
      p The participants of the study also represented our core client base, ranging from very small businesses, to multi-million dollar ones. The interviews were mostly by phone and with people from around the world, including England, Australia, Germany, California and Michigan. We recorded the interviews and made transcripts. It was a lot of work, but eventually we started to see some trends emerging. After compiling this information, we continued on to the interface phase of the project.
      //- .img-lg
      //-   img(src='../img/case_studies/mobile_analytics/trends.jpg')
        
      h2 Quick Iterations
      p The onboarding designs became a very important part of the experience, because it would be the first mobile product, and also the first product that users would be introduced to Oauth. After users logged in the first time, their information would be stored and would keep them logged in for a month. Take a look at some of the iterations:
      .img-md
        img(class='center img-height' src='../img/case_studies/mobile_analytics/onboarding.gif')
      p I worked with the team to produce designs to generate some quick ideas about the architecture and UX of the app.
      .img-md
        img(class='center img-height' src='../img/case_studies/mobile_analytics/ma1.png')
      .img-md
        img(class='center img-height' src='../img/case_studies/mobile_analytics/ma2.png')
      .img-md
        img(class='center img-height' src='../img/case_studies/mobile_analytics/ma3.png')
      .img-md
        img(class='center img-height' src='../img/case_studies/mobile_analytics/ma4.png')
      .img-md
        img(class='center img-height' src='../img/case_studies/mobile_analytics/ma8.png')
      .img-md
        img(class='center img-height' src='../img/case_studies/mobile_analytics/ma9.png')
      .img-md
        img(class='center img-height' src='../img/case_studies/mobile_analytics/ma5.png')
      //- .img-md
      //-   img(class='center img-height' src='../img/case_studies/mobile_analytics/ma6.png')
      .img-md
        img(class='center img-height' src='../img/case_studies/mobile_analytics/ma7.png')

      //- .img-md
      //-   img(class='center img-height' src='../img/case_studies/mobile_analytics/ma10.png')
      p The final touches were adding some interactivity to the graph:
      .img-md
        img(class='center img-height' src='../img/case_studies/mobile_analytics/interaction.gif')

      h2 Testing
      p Some testing was done to confirm some assumptions we made about how data was being displayed. We were able to get some pretty clear evidence that certain designs made more sense to our group of users.
      .img-md
        img(src='../img/case_studies/mobile_analytics/testing.jpg')
      p After confirming our suspicions, a fully functioning prototype was finished and we scheduled time with some of users to come into the office and try the application out on their own phones. We watched as they logged in, clicked around and also gave them a few simple tasks to complete. Everything worked as planned and we prepared for launch. 
   
      h2 Launch
      p The first launch was first to a small alpha group of users so that we could gain some initial analytics about usage. We prepared a set of instructions and let the group loose to try out the app. We also created an email alias for them to send specific concerns.
      
      p Midway through the alpha we sent out a survey to these users to get a sense of how the app was performing and if they were finding it useful. The results were very positive, so much so that we were prompted to end the alpha stage early so the entire client base could benefit from using the app.
      .img-md
        img(src='../img/case_studies/mobile_analytics/survey.jpg')
        .caption 
          p Users gave us very high marks for this first iteration of the product.
   
      p The app has been live for a few months and we have been monitoring usage. The next step is to take the usage data and user feedback to continue the cycle of <i>idea</i>, <i>build</i>, <i>launch</i> and <i>learn</i>. 

    //- .title
    //-   h3 Check out another case study:
